/* Este es un ejemplo para clases globales que desen personalizar */

.Hamburger{
    @apply inline-flex 
    items-center 
    p-2 mt-2 ml-3 
    text-sm 
    text-gray-500 
    rounded-lg 
    sm:hidden 
    hover:bg-gray-100 
    focus:outline-none 
    focus:ring-2 
    focus:ring-gray-200 
    dark:text-gray-400 
    dark:hover:bg-gray-700 
    dark:focus:ring-gray-600;
}
.aside__content{
    @apply fixed 
    top-0
    left-0 
    z-40
    w-64 
    h-screen 
    transition-transform
    sm:translate-x-0
}
.aside__content__menu{
    @apply h-full
    px-3
    py-4
    overflow-y-auto
    bg-gray-50 
    dark:bg-gray-800
}
.aside__item{
    @apply 
    flex
    items-center 
    p-2 
  text-gray-900 
    rounded-lg 
  dark:text-white 
  hover:bg-gray-100 
  dark:hover:bg-gray-700 
}

.activated{
    @apply bg-gray-100
    text-gray-900 
    hover:bg-gray-200
}
@media (max-width: 768px) {

}


.label_form {
    @apply 
    block 
    mb-2
    text-sm
    font-medium 
    text-gray-900
}
  
.input_form {
    @apply
  bg-gray-50
    border 
    border-gray-300 
    text-gray-900 
    text-sm rounded-lg 
    focus:ring-blue-500 
    focus:border-blue-500 
    block 
    w-full 
    p-2.5
}

.button_form {
    @apply
    text-white
    bg-gray-700 
    hover:bg-gray-500 
    focus:ring-4 
    focus:outline-none 
    focus:ring-blue-300 
    font-medium rounded-lg 
    text-sm 
    w-full 
    sm:w-auto 
    px-5 
    py-2.5 
    text-center 
}

.button_back {
    @apply
    text-white 
    bg-gray-700 
    hover:bg-gray-500 
    focus:outline-none 
    focus:ring-4 
    focus:ring-gray-300 
    font-medium 
    rounded-lg 
    text-sm 
    px-5 
    py-2.5 
    mr-2
    mb-6
}

.table_detail {
    @apply
    relative
    overflow-x-auto
    shadow-md 
    sm:rounded-lg
}

.table_detail table {
    @apply
    w-full 
    text-sm 
    text-left 
    text-gray-500 
    dark:text-gray-400
}

.table_detail thead {
    @apply
    text-xs 
    text-gray-700 
    uppercase 
    bg-gray-50 
    dark:bg-gray-700 
    dark:text-gray-400
}

.button_edit {
    @apply
    font-medium 
    text-blue-600 
    dark:text-blue-500 
    hover:underline
}

.button_remove {
    @apply 
    font-medium 
    text-red-600 
    dark:text-red-500 
    hover:underline
}