/* Este es un ejemplo para clases globales que desen personalizar */

.Hamburger{
    @apply inline-flex 
    items-center 
    p-2 mt-2 ml-3 
    text-sm 
    text-gray-500 
    rounded-lg 
    sm:hidden 
    hover:bg-gray-100 
    focus:outline-none 
    focus:ring-2 
    focus:ring-gray-200 
    dark:text-gray-400 
    dark:hover:bg-gray-700 
    dark:focus:ring-gray-600;
}
.aside__content{
    /* padding: 2px; */
    @apply fixed
    top-0
    left-0 
    z-40
    w-64 
    h-screen 
    transition-transform
    sm:translate-x-0
}
.aside__content__menu{
    
    /* border-radius: 20px; */
    @apply h-full
    px-3
    py-4
    overflow-y-auto
    bg-gray-50 
    dark:bg-gray-800
}
.aside__item{
    @apply 
    flex
    items-center 
    p-2 
  text-gray-900 
    rounded-lg 
  dark:text-white 
  hover:bg-gray-100 
  dark:hover:bg-gray-700 
}

.activated{
    @apply bg-gray-100
    text-gray-900 
    hover:bg-gray-200
}


.label_form {
    letter-spacing: 4px;
    @apply 
    block 
    mb-2
    text-sm
    font-medium 
    text-white

}
  
.input_form {
    @apply
  bg-gray-50
    border 
    border-gray-300 
    text-gray-900 
    text-sm rounded-lg 
    focus:ring-blue-500 
    focus:border-blue-500 
    block 
    w-full 
    p-2.5
}

.button_form {
    @apply
    text-white
    bg-gradient-to-r 
    from-green-400 
    via-green-500 
    to-green-600 
    hover:bg-gradient-to-br 
    focus:ring-4 
    focus:outline-none 
    focus:ring-green-300 
    dark:focus:ring-green-800 
    shadow-lg 
    shadow-green-500/50 
    dark:shadow-lg 
    dark:shadow-green-800/80 
    font-medium 
    rounded-lg 
    text-sm 
    px-5 
    py-2.5 
    text-center 
    mr-2 
    mb-2
}

.button_back {
    @apply
    text-white 
    bg-gray-700 
    hover:bg-gray-500 
    focus:outline-none 
    focus:ring-4 
    focus:ring-gray-300 
    font-medium 
    rounded-lg 
    text-sm 
    px-5 
    py-2.5 
    mr-2
    mb-6
}

.table_detail {
    @apply
    relative
    overflow-x-auto
    shadow-md 
    sm:rounded-lg
}

.table_detail table {
    @apply
    w-full 
    text-sm 
    text-left 
    text-gray-500 
    dark:text-gray-400
}

.table_detail thead {
    @apply
    text-xs 
    text-gray-700 
    uppercase 
    bg-gray-50 
    dark:bg-gray-700 
    dark:text-gray-400
}
.button_info{
    @apply
    font-medium 
    text-green-600 
    dark:text-green-500 
    hover:underline 
}
.button_edit {
    @apply
    font-medium 
    text-blue-600 
    dark:text-blue-500 
    hover:underline
}

.button_remove {
    @apply 
    font-medium 
    text-red-600 
    dark:text-red-500 
    hover:underline
}
.button_saved{
    @apply text-white
}
.Hotel__home__title{

    letter-spacing: 2px;
    
    /* text-shadow: -4px 2px 20px red; */
    @apply text-2xl
    
    text-green-500
    font-bold 
    p-4
   
}

.detaller_form{
    letter-spacing: 2px;
    /* text-shadow: -4px 2px 20px white; */
    @apply text-xl
    /* text-white */
    font-bold
}
.detalle_h2{
    line-height: 30px!important;
    border-bottom: 1px solid gray;
    @apply text-lg
    text-black
    font-bold
}
 
.Hotel__home{
    
    @apply p-4

}
.alert{
    padding: 30px;
    text-align: center;
    border-radius: 30px;
    background: white;

}
.container_form{ 
    width: 100%;
    backdrop-filter: blur(20px);
    @apply p-4
    
    rounded-md
  }
.container_detalle{
    box-shadow: 2px 1px 7px 5px #b6b6b6;
    background-color: #ffff;
    /* backdrop-filter: blur(20px); */
    @apply p-4
    flex
    rounded-md
    mb-4
}
.container_chart{
    box-shadow: 2px 1px 7px 5px #b6b6b6;
    background-color: #ffff; 
    display: flex;
    flex-direction: column;
    @apply p-4
    flex
    rounded-md
    mb-4
}